:root {
  --pr-clr-blue: hsl(215, 51%, 70%);
  --pr-clr-Cyan: hsl(178, 100%, 50%);
  --n-bg-main: hsl(217, 54%, 11%);
  --n-bg-card: hsl(216, 50%, 16%);
  --n-bg-line: hsl(215, 32%, 27%);
  --white-color: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--n-bg-main);
  font-family: "Outfit", sans-serif;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
}

.card {
  width: 375px;
  background-color: var(--n-bg-card);
  margin-top: 80px;
  border-radius: 15px;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.container-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--pr-clr-Cyan);
  border-radius: 8px;
  width: 100%;
  opacity: 1;
  cursor: pointer;
}

img {
  width: 100%;
  border-radius: 8px;
  opacity: 1;
}
.title {
  color: var(--white-color);
  margin-left: -130px;
  font-size: 1.5rem;
  margin-top: 30px;
  font: 600;
}

.text {
  color: var(--pr-clr-blue);
  font-weight: 300;
  font-size: 1.125rem;
}

.small-flex-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.left {
  color: var(--pr-clr-Cyan);
  display: flex;
  align-items: center;
}

.right {
  color: var(--pr-clr-blue);
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5rem;
  padding-right: 10px;
}

span {
  width: 100%;
  border: 1px solid var(--n-bg-line);
  margin: 20px 0;
}

.card-bottom-Avatar {
  color: var(--white-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  border: 1px solid var(--white-color);
  border-radius: 50%;
  width: 12%;
  height: 12%;
  margin-right: 15px;
  font-weight: 300;
  text-align: center;
}

.highlight-avatar {
  border: none;
  color: var(--pr-clr-blue);
  margin-right: 5px;
}
span {
  border: none;
}
/* HOVER section */

.icon-view {
  width: 60px;
}

.middle {
  transition: 0.5s ease;
  position: absolute;
  opacity: 0;
}

.container-card:hover .middle {
  opacity: 1;
}

.container-card:hover img {
  opacity: 0.5;
}

.cyan:hover {
  color: var(--pr-clr-Cyan);
  cursor: pointer;
}
